<h1 class="margin-30">Summary</h1>

<div class="card">
  <div class="card-header">Rental Income</div>
  <canvas id="netIncome" height="100"></canvas>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">Properties</div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">Expenses</div>
      <canvas id="expenses"></canvas>
    </div>
  </div>
</div>

<%= hidden_field_tag :income, @income %>
<%= hidden_field_tag :income_months, @income_months %>

<%= hidden_field_tag :property_count, @property_count %>

<%= hidden_field_tag :account_data, @accounts_data %>
<%= hidden_field_tag :account_keys, @accounts_keys %>


<script>
  var ctx = document.getElementById('myChart');

  var data = <%= @income %>
  var properties = <%= @property_count %>
  var accounts = <%= @accounts_data %>

  var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Rented properties', 'Vacant properties'],
      datasets: [{
        label: 'Properties',
        data: properties,
        backgroundColor: [
          'rgba(74, 255, 46, 0.3)',
          'rgba(255, 99, 132, 0.2)',
        ],
        backgroundColor: [
          "#36A2EB", // blue
          "#FF6384", // red
        ],
      }]
    },
  });

  var netIncomeCtx = document.getElementById('netIncome');

  var data = {
    labels: $('#income_months').val().split(','),
    datasets: [
      {
        label: "Rental Income",
        fill: false,
        lineTension: 0.1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)",
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "rgba(75,192,192,1)",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 2,
        pointHoverRadius: 6,
        pointHoverBackgroundColor: "rgba(75,192,192,1)",
        pointHoverBorderColor: "rgba(220,220,220,1)",
        pointHoverBorderWidth: 2,
        pointRadius: 6,
        pointHitRadius: 10,
        data: data,
        spanGaps: false,
      }
    ]
  }

  var myLineChart = new Chart(netIncomeCtx, {
    type: 'line',
    data: data,
  });

  var expensesCtx = document.getElementById('expenses');

  var expensesChart = new Chart(expensesCtx, {
    type: 'bar',
    data: {
      labels: $('#account_keys').val().split(','),
      datasets: [{
        label: 'Expenses',
        data: accounts,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
  });
</script>
