<h1 class="margin-30">Summary</h1>

<div class="card">
  <div class="card-header">Rental Income</div>
  <canvas id="netIncome" height="100"></canvas>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header">Properties</div>
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <div class="col-md-7">
    <div class="card">
      <div class="card-header">Expenses</div>
      <canvas id="expenses"></canvas>
    </div>
  </div>
</div>

<%= hidden_field_tag :income, @income %>
<%= hidden_field_tag :income_months, @income_months %>

<%= hidden_field_tag :property_count, @property_count %>

<%= hidden_field_tag :account_data, @accounts_data %>
<%= hidden_field_tag :account_keys, @accounts_keys %>
