<h1 class="display-4 margin-40">Invoice</h1>

<%= render 'shared/errors', obj: @invoice %>

<%= form_for [@customer, @invoice], html: { style: "margin-top: 20px" } do |f| %>
  <div class="form-group margin-20">
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div class="form-group">
    <%= f.label :customer %>
    <%= f.collection_select :customer_id, Customer.where(user: current_user), :id, :full_name, { selected: @customer.id }, class: "form-control chosen_select" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2), step: 0.01, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: "form-control" %>
  </div>

  <div class="card">
    <div class="card-header" id="account_trans_total">$0.00</div>
    <div class="card-block">
      <%= render 'shared/account_trans', f: f, obj: @invoice %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>

    <% unless @invoice.new_record? %>
      <%= link_to 'Delete', customer_invoice_path(@customer, @invoice), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', @customer %>

