<tr class="invoice_tran_fields">
  <td>
    <%= f.collection_select :account_id, @accounts, :id, :name, {}  %>
  </td>

  <td>
    <%= f.number_field :amount, placeholder: "0.00"%>
  </td>

  <td>
    <%= f.text_field :memo %>
  </td>

  <td>
    <%= f.collection_select :property_id, @properties, :id, :full_address, {}  %>
  </td>

  <td>
    <%= f.hidden_field :_destroy %>
    <a href="#" class="remove_invoice_tran"><i class="fa fa-remove"></i></a>
  </td>
</tr>
