<%= render 'shared/errors', obj: obj %>

<%= form_for obj do |f| %>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :state %>
        <% states = %w(AK AL AZ AR CA CO CT DE FL GA HI ID IL IN IA KS KY LA ME MD MA MI MN MS MO MT NE NV NH NJ NM NC ND OH OK OR PA RI SC SD TN TX UT VT VA WA WV WI WY) %>
        <%= f.select :state, options_for_select(states), {}, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
