<h2 class="page-header" style="border-bottom: 0; margin-bottom: 5px; display: inline">
  <%= @property.address %>
  <small><%= @property.city %>, <%= @property.state %> <%= @property.zip %></small>
</h2>

<hr>

<ul class="nav nav-tabs header-tabs">
  <li class="<%= isActive 'properties', 'show' %>">
    <%= link_to 'Transactions', @property %>
  </li>
  <li class="<%= isActive 'properties', ['edit', 'update'] %>">
    <%= link_to 'Details', edit_property_path(@property) %>
  </li>

  <li class="<%= isActive 'customers', 'new' %>">
    <%= link_to "Rent Property", new_customer_path %>
  </li>
</ul>
