<h3 style="">
  <%= @property.address %>
</h3>
<p class="margin-35"><%= @property.city %>, <%= @property.state %> <%= @property.zip %></p>

<ul class="nav nav-tabs header-tabs">
  <li class="nav-item">
    <%= link_to 'Transactions', @property, class: "#{isActive 'properties', 'show'} nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Edit Property', edit_property_path(@property), class: "#{isActive 'properties', ['edit', 'update']} nav-link" %>
  </li>
</ul>
