<h3 class="page-header" style="border-bottom: 0; margin-bottom: 5px">
  <%= @property.address %>
</h3>
<p><%= @property.city %>, <%= @property.state %> <%= @property.zip %></p>
<hr>

<ul class="nav nav-tabs header-tabs">
  <li class="<%= isActive 'properties', 'show' %>">
    <%= link_to 'Details', @property %>
  </li>
  <li class="<%= isActive 'properties', ['edit', 'update'] %>">
    <%= link_to 'Edit', edit_property_path(@property) %>
  </li>
</ul>
