<h3 style="">
  <%= @property.address %>
</h3>

<p class="margin-35">
  <% unless @property.internal? %>
    <%= @property.city %>, <%= @property.state %> <%= @property.zip %>
  <% end %>

  <% if @property.address = "All Properties" %>
    <i style='display: inline-block; margin-top: 10px'>Use this property for tracking expenses that belong to all houses</i>
  <% end %>
</p>

<ul class="nav nav-tabs header-tabs">
  <li class="nav-item">
    <%= link_to 'Transactions', @property, class: "#{isActive 'properties', 'show'} nav-link" %>
  </li>

  <% unless @property.internal %>
    <li class="nav-item">
      <%= link_to 'Edit Property', edit_property_path(@property), class: "#{isActive 'properties', ['edit', 'update']} nav-link" %>
    </li>
  <% end %>
</ul>
