<%= render 'header' %>

<table class="table table-hover row-links">
  <thead class="thead-default">
    <tr>
      <th>Address</th>
      <th>Rent</th>
      <th>Deposit</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr data-link="<%= property_path property %>">
        <td>
          <%= property.address %>, <%= property.city %> <%= property.state %> <%= property.zip %>
        </td>
        <td>
          <%= number_to_currency(property.rent) %>
        </td>
        <td>
          <%= number_to_currency(property.deposit) %>
        </td>

        <td>
          <% if property.customer %>
            <span class="label label-primary">Rented</span>
          <% else %>
            <span class="label label-success">Vacant</span>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>
