<tr class="<%= customer.balance > 0 ? 'table-danger' : '' %> ">
  <td>
    <%= link_to customer.full_name, customer %>
  </td>
  <td>
    <% unless customer.customer_type == "blank" %>
      <%= link_to customer.property.full_address, customer.property %>
    <% end %>
  </td>
  <td>
    <%= number_to_currency(customer.balance) %>
  </td>
  <td>
    <%= customer.phone %>
  </td>

  <td>
    <% if customer.balance > 0 %>
      <%= link_to 'Payment', new_customer_payment_path(customer) %>
    <% end %>
  </td>
</tr>
