<%= render 'shared/errors', obj: @customer %>

<%= form_for @customer do |f| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :property %>
        <% if @customer.new_record? %>
          <%= f.collection_select :property_id, @properties, :id, :address, {}, class: "form-control chosen_select" %>
        <% else %>
          <%= f.select :property_id, nil, {}, class: "form-control" do %>
            <%= content_tag(:option, @customer.property.address, value: @customer.property_id) %>
            <%= options_from_collection_for_select @properties, :id, :address %>
          <% end %>
        <% end %>
      </div>


      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :middle_name %>
        <%= f.text_field :middle_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :company_name %>
        <%= f.text_field :company_name, class: "form-control" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :phone %>
        <%= f.telephone_field :phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :alt_phone, "Alt. Phone" %>
        <%= f.telephone_field :alt_phone, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :due_date do %>
          Monthly due date <i>(Next payment on <strong>06/07/2016</strong>)</i>
        <% end %><br>
        <% days = %w(1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28) %>
        <%= f.select :due_date, options_for_select(days, @customer.due_date), {}, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :rent, "Rent amount" %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :rent, value: number_with_precision(f.object.rent, precision: 2), step: 0.01, class: "form-control" %>
        </div>
      </div>

      <% if @customer.new_record? %>
        <div class="form-group">
          <%= f.label :deposit, "Security deposit amount" %>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field :deposit, value: number_with_precision(f.object.rent, precision: 2), step: 0.01, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="form-group pull-right">
    <label class="c-input c-checkbox">
      <input type="checkbox" id="customer_prorated_rent_checkbox">
      <span class="c-indicator"></span>
      Charge <strong id="customer_prorated_rent_amount">$0.00</strong> in rent for <span id="customer_days_in_month">23</span> days 
    </label>
    <label class="c-input c-checkbox">
      <input type="checkbox" id="customer_deposit_checkbox">
      <span class="c-indicator"></span>
      Charge security deposit for <strong id="customer_deposit_amount">$0.00</strong>
    </label>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>

    <% unless @customer.new_record? || @customer.active == false %>
      <%= link_to 'Move Customer Out', archive_customer_path(@customer), class: 'btn btn-warning' %>
    <% end %>
  </div>
<% end %>
