<div class="row">
  <div class="col-md-3">
    <h3 class="page-header" style="border-bottom: 0; margin-bottom: 5px"><%= @customer.full_name %></h3>
    <p  style="font-size: 16px; margin-bottom: 25px;"><%= @customer.property.address %> <br> <%= @customer.property.city %> <%= @customer.property.state %> <%= @customer.property.zip %></p>
    <h4 style="color: green"><span class="fa fa-check"></span> $0.00</h4>
  </div>

  <div class="col-md-2 display-data" style="font-size: 15px">
    <p><small>Phone</small> 123456</p>
    <p><small>Payment</small> $500.25</p>
  </div>

  <div class="col-md-2 display-data" style="font-size: 15px">
    <p><small>Phone</small> 123456</p>
    <p><small>Payment</small> $500.25</p>
  </div>

  <div class="col-md-5 text-right">
    <button class="btn btn-success">Receive Payment</button>
  </div>

</div>
  <hr>

<ul class="nav nav-tabs header-tabs">
  <li class="<%= isActive 'customers', 'show' %>">
    <%= link_to 'Transaction List', @customer %>
  </li>

  <li class="<%= isActive 'customers', ['edit', 'update'] %>">
    <%= link_to 'Edit Customer', edit_customer_path(@customer) %>
  </li>
</ul>
