<%= render 'header' %>

<div style="margin-bottom: 20px">
  <%= form_tag customers_path, method: 'get', class: 'form-inline', id: 'customer_display' do %>
    <%= label_tag :display, nil, class: '', style: 'margin-right: 10px' %>
    <%= select_tag :display, options_for_select([['Active', 'active'], ['All', 'all']], params[:display]), class: "form-control" %>
  <% end %>
</div>

<table class="table table-hover row-links">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Property</th>
      <th>Balance</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= render @customers %>
  </tbody>
</table>

<%= will_paginate %>
