<%= render 'show_header' %>

<div class="display-data row">
  <div class="col-md-4">
    <p><small>Full Name</small> <%= @customer.full_name %></p>
    <p><small>Full Name</small> <%= @customer.full_name %></p>
  </div>

  <div class="col-md-4">
    <p><small>Phone</small> <%= @customer.phone %></p>
    <p><small>Alt. Phone</small> <%= @customer.phone %></p>
  </div>
</div>

<hr/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Transactions</h4>
  </div>
  <div class="panel-body">
    insert transactions here
  </div>
</div>
