<h1 class="display-4 margin-30">Reconcile Checkbook</h1>

<%= form_for @reconciliation do |f| %>
  <div class="margin-30">
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div class="card-group margin-25">
    <div class="card">
      <div class="card-header">
        Checks and Payments
      </div>
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" class="" /></td></th>
              <th>Number</th>
              <th>Payee</th>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>

          <tbody>
            <% @checks.each do |check| %>
              <tr>
                <td><input type="checkbox" class="reconcile_check_box" /></td>
                <td><%= check.num %></td>
                <td><%= check.vendor.name %></td>
                <td><%= check.date.strftime("%m/%d/%Y") %></td>
                <td class="reconcile_amount reconcile_check_amount"><%= number_to_currency check.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Deposits and Other Credits
      </div>
      <div class="card-block">
        <table class="table">
          <thead>
            <tr>
              <th><input type="checkbox" class="" /></th>
              <th>Date</th>
              <th>Amount</th>
            </tr>
          </thead>

          <tbody>
            <% @deposits.each do |deposit| %>
              <tr>
                <td><input name="reconciliation[deposits][<%= deposit.id %>][selected]" type="checkbox" class="reconcile_check_box" /></td>
                <td><%= deposit.date.strftime("%m/%d/%Y") %></td>
                <td class="reconcile_amount reconcile_deposit_amount"><%= number_to_currency deposit.amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div style="margin-bottom: 25px">
        <input type="hidden" value="<%= @register.cleared_balance %>" id="reconcile_saved_cleared_balance" />
        <p>Cleared Balance: <strong id="reconcile_cleared_balance"><%= number_to_currency @register.cleared_balance %></strong></p>
        <p>Ending Balance: <%= f.text_field :ending_balance, id: "reconcile_ending_balance" %></p>
        <p>Difference: <strong id="reconcile_difference">$0.00</strong>
      </div>
    </div>

    <div class="col-md-6">
      <%= f.submit "Reconcile", class: "btn btn-primary pull-xs-right" %>
    </div>
  </div>

<% end %>
