<h1 class="display-4 margin-40">Payment</h1>

<%= render 'shared/errors', obj: @payment %>

<%= form_for [@customer, @payment] do |f| %>

  <div class="form-group margin-30">
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div class="form-group">
    <%= f.label :customer %>
    <%= f.collection_select :customer_id, Customer.where(user: current_user), :id, :full_name, { selected: @customer.id }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2), class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
    <% unless @payment.new_record? %>
      <button class="btn btn-danger">Delete</button>
    <% end %>
  </div>
<% end %>

<%= link_to customer_path(@customer) do %>
  <i class="fa fa-arrow-left"></i>
  &nbsp;Back
<% end %>
