<h1 class="margin-40">Payment</h1>
<%= render 'shared/errors', obj: @payment %>

<%= form_for [@customer, @payment], html: { style: "margin-top: 20px" } do |f| %>

  <div class="form-group margin-20">
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div class="form-group">
    <%= f.label :customer %>
    <% if @customer.active? %>
      <%= f.collection_select :customer_id, @customers, :id, :full_name, { selected: @customer.id }, class: "form-control selectize" %>
    <% else %>
      <%= f.select :customer_id, nil, {}, class: "form-control selectize" do %>
        <%= content_tag(:option, @customer.full_name, value: @customer.id) %>
        <%= options_from_collection_for_select @customers, :id, :full_name %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :method, 'Payment Method' %>
    <%= f.select :method, options_for_select(['Cash', 'Check', 'Money Order'], @payment.method), {}, class: "form-control selectize" %>
  </div>

  <div class="form-group">
    <%= f.label :num, 'Reference no.' %>
    <%= f.text_field :num, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <%= f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2), step: 0.01, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
    <% unless @payment.new_record? %>
      <%= link_to 'Print Receipt', receipt_customer_payment_path(@customer, @payment), target: "_blank", class: "btn btn-primary" %>
      <%= link_to 'Delete', customer_payment_path(@customer, @payment), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
<% end %>

<%= link_to 'Back', customer_path(@customer) %>
