<h2 style="margin-bottom: 35px">Payment Receipt</h2>

<div>
  <p style="margin-bottom: 25px"><strong><%= @payment.date.strftime("%B %d, %Y") %></strong></p>

  <p><i><%= @payment.customer.full_name %></i></p>
  
  <address style="margin-bottom: 50px">
    <% unless @customer.customer_type == "blank" %>
      <%= @payment.customer.property.address %><br>
      <%= @payment.customer.property.city %>, <%= @payment.customer.property.state %> <%= @payment.customer.property.zip %>
    <% end %>
  </address>

  <p>Amount: <strong><%= number_to_currency @payment.amount %></strong></p>
  <p>Payment Method: <strong><%= @payment.method %></strong></p>
  <p>Reference number: <strong><%= @payment.num %></strong>

</div>
