<% unless @check.new_record? %>
  <%= render "recurring_trans/create_tran", id: @check.id, type: "Check" %>
<% end %>

<h1 class="margin-40">
  Check
  <% unless @check.new_record? %>
    <small class="text-muted">#<%= @check.num %></small>
  <% end %>
</h1>

<%= render 'shared/cleared_warning', tran: @check %>
<%= render 'shared/errors', obj: @check %>

<%= form_for [@check], html: { style: "margin-top: 20px" } do |f| %>
  <div class="form-group margin-20">
    <%= f.date_select :date, order: [:month, :day, :year] %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :num %>
        <%= f.text_field :num, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :vendor %>
        <%= f.collection_select :vendor_id, Vendor.where(user: current_user), :id, :name, { include_blank: true }, class: "form-control selectize" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :amount %>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <%= f.number_field :amount, value: number_with_precision(f.object.amount, precision: 2), step: 0.01, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :memo %>
        <%= f.text_area :memo, class: "form-control" %>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="account_trans_total">$0.00</div>
    <div class="card-block">
      <%= render 'shared/account_trans', f: f, dec: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>

    <% unless @check.new_record? %>
    <%= link_to 'Delete', check_path(@check), method: :delete, class: "btn btn-danger" %>

    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#recurrTranModal">
      Make Recurring
    </button>
    <% end %>
  </div>
  <% end %>

  <% unless @check.new_record? %>
  <%= link_to 'Back', registers_path %>
  <% end %>
