<%= render 'header' %>

<table class="table table-hover row-links">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |a| %>
      <% if a.name == "Checking" %>
        <tr data-link="<%= register_path %>">
      <% else %>
          <tr data-link="<%= account_path a %>">
      <% end %>
        <td><%= a.name %></td>
        <td><%= a.account_type %></td>
        <td><%= number_to_currency(a.balance) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
